*{
  padding: 0;
  margin: 0;
  color: white;
  background: rgb(41, 40, 40);
}

body{
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.geral{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.logo-a{
  margin-left: 43%;
  width: 100%;
  max-width: 150px;
  max-height: 148.79679144385025px;
  cursor: pointer;
  border: 0;
}

.gerall{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  align-items: center;
}
.carro{
  height: 27px;
}

.txt{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img{
  display: flex;
  height: 300px;
  transition-duration: 0.5;
}

.img:hover{
  transition-duration: 0.5s;
  margin-top: -30px;
}

.Twitter{
  width: 40px;
}

.redes{
  color: #fff;
  padding: 10px;
  text-align: center;
}

/*area de compra*/

.principal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.textomtpica{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
